<div class="m-1 overflow-auto flex-fill" id="chat_<%= chatroom.id %>">
  <% messages.each do |message| %>
    <div class="row m-1 justify-content-<%= message.user_id == current_user.id ? "end" : "start" %>">
      <div class="rounded-lg bg-primary text-white px-4 py-2">
        <p class="m-0 text-small font-weight-bolder"><%= message.content %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="align-self-strech m-2">
  <% msg = chatroom.messages.build %>
  <%= form_with(model: [chatroom, msg], remote: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="input-group">
      <%= form.text_field :content, placeholder: "Menssagem", autocomplete: :off, autofocus: :true, class: 'form-control', id: "message-field" %>
      <div class="input-group-append">
        <%= form.submit 'Enviar', class: 'btn btn-blue' %>
      </div>
    </div>
  <% end %>
</div>