<span>Seguindo: <%= followed.followings.size %> </span><span>Seguidores: <%= followed.followers.size %></p>
<% if followed.id != current_user.id %>
  <% if can_follow %>
    <%= link_to 'Seguir', follow_path(id: followed.id), class: "rounded-pill btn btn-outline-dark", remote: true %>
  <% else %>
    <%= link_to 'Deixar de seguir', unfollow_path(id: followed.id), method: :delete, class: "rounded-pill btn btn-dark", remote: true %>
  <% end %>
  <%= link_to 'Messagem', chatrooms_path(user_id: followed.id), class: "rounded-pill btn btn-outline-dark", method: :post %>
<% end %>