<div class="comment-item mx-2">
  <%= form_with(model: comment, remote: true) do |form| %>
    <div class="form-group">
      <%= form.text_area :comment, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.hidden_field :post_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= form.submit 'Comentar', class: "btn btn-blue" %>
    </div>
  <% end %>
</div>
