<% if @chatrooms.present? %>
  <% @chatrooms.each do |chatroom| %>
    <%= chatroom.name %>
  <% end %>
<% else %>
  <p>Nenhuma conversa</p>
  <%= form_with(model: @new_chatroom, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= select_tag(:city_id, options_for_select(current_user.followings.collect { |user| [user.username, user.id] })) %>
    </div>
  <% end %>
<% end %>