<div class="d-flex flex-column justify-content-between h-100">
  <div class="d-flex align-items-center justify-content-between bg-white border border-left-0 border-right-0 m-0 p-2">
    <%= link_to chatrooms_path, class: "btn float-left" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %> 
    <h6 class="m-0 font-weight-bold text-center text-secondary"><%= @chatroom.users.where.not(id: current_user.id).last.username %></h6>
    <div class="dropdown my-auto float-right">
      <a class="btn btn-link text-decoration-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </a >
      <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="dropdownMenuButton">
        <%= link_to @chatroom, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item p-3" do %>
          Excluir
        <% end %>
      </div>
    </div>
  </div>
    <%= render partial: 'messages/list', locals: { messages: @chatroom.messages, chatroom: @chatroom } %>
  <div class="align-self-strech m-2">
    <% msg = @chatroom.messages.build %>
    <%= form_with(model: [@chatroom, msg], remote: true) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="input-group">
        <%= form.text_field :content, placeholder: "Menssagem", autocomplete: :off, autofocus: :true, class: 'form-control', id: "message-field" %>
        <div class="input-group-append">
          <%= form.submit 'Enviar', class: 'btn btn-blue' %>
        </div>
      </div>
    <% end %>
  </div>
</div>