<!DOCTYPE html>
<html>
  <head>
    <title>MsGapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'auth', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'auth', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= image_tag(asset_path('last_logo_white.svg'), size: "150x150", class: "mx-auto d-block") %>
    <div class="card login-card mx-auto p-4">
      <%= yield %>
    </div>
  </body>
</html>
