<!DOCTYPE html>
<html>
  <head>
    <title>MsGapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app">
    <aside class="menu-area">
      <div class="logo">
        <%= image_tag(asset_path('user.jpg'), size: "100x100") %>
      </div>
      <nav class="menu">
        <a href="#">Posts</a>
        <hr class="bg-white">
        <a href="#">Mensagens</a>
        <a href="#">Configurações</a>
      </nav>
    </aside>
    <%= render partial: 'includes/topbar' %>
    <main class="content container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="p-3 mt-3">
        <%= yield %>
      </div>
    </main>
    <footer class="footer p-3">
      <span>
        Desenvolvedor de peixes, programando atipicamente.
      </span>
    </footer>
  </body>
</html>