<!DOCTYPE html>
<html>
  <head>
    <title>MsGapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="sidebar">
      <div class="content">
        <div class="user-header">
          <span><%= current_user.username %></span>
        </div>
        <hr>
        <span>Chat</span>
        <div class="chat-list">
          <div class="chat-item">
            <div class="img">U</div>
            <span>User 2</span>
          </div>
        </div>
        <span>Novo chat +</span>
      </div>
    </div>
    <%= yield %>
    </div>
  </body>
</html>