<!DOCTYPE html>
<html>
  <head>
    <title>MsGapp</title>
    <%= favicon_link_tag asset_path('favicons/favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app">
    <aside class="menu-area">
      <div class="logo">
        <%= link_to dashboard_index_path do %>
          <%= image_tag(asset_path('last_logo_white.svg'), size: "100x100") %>
        <% end %>
      </div>
      <nav class="menu">
        <%= link_to 'Início', dashboard_index_path %>
        <%= link_to 'Meus Posts', posts_path %>
        <%= link_to 'Conversas', chatrooms_path %>
        <!--<a href="#">Configurações</a>-->
      </nav>
    </aside>
    <div id="mySidenav" class="collapse-menu">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <%= link_to 'Início', dashboard_index_path %>
      <%= link_to 'Meus Posts', posts_path %>
      <%= link_to 'Conversas', chatrooms_path %>
      <!--<a href="#">Configurações</a>-->
    </div>
    <%= render partial: 'includes/topbar' %>
    <main class="content container-fluid p-0 h-100 overflow-auto">
      <%= yield %>
      <div class="d-none" id="message-template">
        <div class="row m-1">
          <div class="rounded-lg bg-primary text-white px-4 py-2">
            <p class="m-0 text-small font-weight-bolder" data-role="message-text"></p>
            <!--<small data-role="message-date"></small>-->
          </div>
        </div>
      </div>
      <div class="user-id" id="<%= current_user.id %>"></div>
    </main>
    <footer class="footer p-3">
      <span>
        Desenvolvedor de peixes, programando atipicamente.
      </span>
    </footer>
  </body>
</html>